<ion-view view-title="Sign Up">
    <ion-nav-buttons>
    </ion-nav-buttons>
    <ion-content>
        <!-- <a ui-sref="signUpSuccess">GOOOOOO</a> -->
        <form id="userProfile" name="c_signUpForm.userProfile" ng-init="showValMsgs = false" novalidate>
            <div class="list" style="padding-top: 20px;">


                <div>
                    <label class="signUp-inputContainer item-input">
                        <i class="signUp-icon icon ion-android-call placeholder-icon"></i>
                        <input name="mobile" class="signUp-input" type="number" placeholder="Mobile Number*" ng-model="user.mobile" min="1000000000" max="9999999999" oninput="if(this.value.length==11) this.value = this.value.slice(0, -1);" required>
                    </label>
                    <span class="signUp-validationMsg" ng-if="c_signUpForm.userProfile.mobile.$invalid && showValMsgs">Mobile Number must be 10 digits long</span>
                </div>


                <div>
                    <label class="signUp-inputContainer item-input">
                        <i class="signUp-icon icon ion-android-lock placeholder-icon"></i>
                        <input name="password" class="signUp-input" type="text" placeholder="Create Password*" ng-model="user.password" ng-pattern="/^(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{10,}$/" required>
                    </label>
                    <span class="signUp-validationMsg" ng-if="c_signUpForm.userProfile.password.$invalid && showValMsgs">Password must contain at least 10 characters, a capital letter, a number and a special character out of ! @ # $ % ^ & only</span>
                </div>


                <div>
                    <label class="signUp-inputContainer item-input">
                        <i class="signUp-icon icon ion-android-mail placeholder-icon"></i>
                        <input name="email" class="signUp-input" type="email" placeholder="Email" ng-model="user.email">
                    </label>
                    <span class="signUp-validationMsg" ng-if="c_signUpForm.userProfile.email.$invalid && showValMsgs">Please enter a valid E-mail address</span>
                </div>


                <div>
                    <label class="signUp-inputContainer item-input">
                        <i class="signUp-icon icon ion-briefcase placeholder-icon"></i>
                        <input name="nob" class="signUp-input" type="text" placeholder="Name of Business*" ng-model="user.nob" required>
                    </label>
                    <span class="signUp-validationMsg" ng-if="c_signUpForm.userProfile.nob.$invalid && showValMsgs">Please fill this box</span>
                </div>


                <div>
                    <label class="signUp-inputContainer item-input">
                        <i class="signUp-icon icon ion-android-map placeholder-icon"></i>
                        <input name="roa" class="signUp-input" type="text" placeholder="Registered office address*" ng-model="user.roa" required>
                    </label>
                    <span class="signUp-validationMsg" ng-if="c_signUpForm.userProfile.roa.$invalid && showValMsgs">Please fill this box</span>
                </div>


                <div>
                    <label class="signUp-inputContainer item-input">
                        <i class="signUp-icon icon ion-location placeholder-icon"></i>
                        <button ng-click="showStatePopover($event)" class="button button-clear button-positive signUp-input signUp-stateBtn icon-right ion-android-arrow-dropdown" ng-disabled="!states">
                            <span ng-show="!c_signUpForm.userProfile.state">State*</span>
                            <span ng-show="c_signUpForm.userProfile.state" style="color:black;">{{c_signUpForm.userProfile.state}}</span>
                        </button>
                    </label>
                    <span class="signUp-validationMsg" ng-if="!c_signUpForm.userProfile.state && showValMsgs">Please select a state</span>
                </div>


                <div>
                    <label class="signUp-inputContainer item-input" style="height: 81px;">
                        <!-- <i class="signUp-icon icon ion-android-home placeholder-icon"></i> -->
                        <img class="signUp-icon" src="img/city.png" alt="">
                        <button ng-click="showCitiesPopover($event)" class="button button-clear button-positive signUp-input signUp-stateBtn icon-right ion-android-arrow-dropdown" ng-disabled="!c_signUpForm.userProfile.state || !cities">
                            <span ng-show="!c_signUpForm.userProfile.city">City*</span>
                            <span ng-show="c_signUpForm.userProfile.city" style="color:black;">{{c_signUpForm.userProfile.city}}</span>
                        </button>
                    </label>
                    <span class="signUp-validationMsg" ng-if="!c_signUpForm.userProfile.city && showValMsgs">Please select a city</span>
                </div>


                <div>
                    <label class="signUp-inputContainer item-input" style="height: 81px;">
                        <!-- <i class="signUp-icon icon ion-pin placeholder-icon"></i> -->
                        <img class="signUp-icon" src="img/pinCode.png" alt="">
                        <input name="pincode" class="signUp-input" type="number" placeholder="PIN Code*" ng-model="user.pincode" min="100000" max="999999" oninput="if(this.value.length==7) this.value = this.value.slice(0, -1);" required>
                    </label>
                    <span class="signUp-validationMsg" ng-if="c_signUpForm.userProfile.pincode.$invalid && showValMsgs">Please fill this box</span>
                </div>


                <div>
                    <label class="signUp-inputContainer item-input" style="height: 81px;">
                        <!-- <i class="signUp-icon icon ion-card placeholder-icon"></i> -->
                        <img class="signUp-icon" src="img/pan.png" alt="">
                        <input name="pan" class="signUp-input" type="text" placeholder="PAN Number" ng-model="user.pan" ng-pattern="/^[A-Z]{5}\d{4}[A-Z]{1}$/">
                    </label>
                    <span class="signUp-validationMsg" ng-if="c_signUpForm.userProfile.pan.$invalid && showValMsgs">Please enter a PAN number of the format ABCDE1234F</span>
                </div>

                
            </div>
            <button class="button button-balanced signUp-signUpBtn" ng-click="showValMsgs=true; submit()">
                SUBMIT
            </button>
        </form>
    </ion-content>
</ion-view>
